        @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
        * {
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        
        html {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        
        body {
            font-family: 'EB Garamond', serif;
            background-image: url(/images/blackbg.jpg);
            height: 340vh;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .home {
            background-image: url(/images/back3.PNG);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            left: 0;
            right: 0;
        }
        
        #header1 {
            margin-left: 45%;
            margin-bottom: 50px;
            color: rgba(13, 14, 13, 0.74);
        }
        
        nav {
            display: flex;
            width: 100%;
        }
        
        .skills {
            height: 40vh;
            margin-top: 4%;
        }
        
        .navbar {
            padding: 25px 0px;
            z-index: 9999;
            transition: all 0.3s ease;
        }
        
        .navbar.sticky {
            position: fixed;
            top: 0;
            background-color: black;
            color: goldenrod;
            left: 0;
        }
        
        .navbar p span.sticky {
            color: white;
        }
        
        nav ul {
            padding-left: 47%;
        }
        
        .navbar p {
            color: white;
            display: flex;
            margin-left: 30px;
            font-size: 25px;
        }
        
        .navbar p span {
            color: goldenrod;
        }
        
        nav ul li {
            display: inline;
        }
        
        nav ul li a {
            justify-content: space-between;
            padding: 16px 28px;
            text-decoration: none;
            color: white;
            transition: color 0.3s ease;
        }
        
        nav ul li a:hover {
            color: goldenrod;
            /* border-bottom: 1px solid #00e9a300;
    box-shadow: 5px 5px 10px rgba(0, 255, 128, 0.4); */
        }
        /* home section */
        
        .heading {
            display: flex;
            color: white;
        }
        
        .land-words {
            margin-top: 15%;
            margin-left: 10%;
        }
        
        #word1 {
            font-size: 18px;
        }
        
        #resume {
            background-color: goldenrod;
            padding: 2% 5%;
            border-radius: 50%;
            margin-top: 10%;
        }
        
        #resume:hover {
            background-color: white;
            color: goldenrod;
            font-weight: 500;
            padding: 3% 8%;
        }
        
        #word2 {
            font-size: 70px;
        }
        
        #word3 {
            font-size: 50px;
        }
        
        .land-words #word3 span {
            color: goldenrod;
        }
        /* about section */
        
        .my-about {
            background-color: rgb(228, 228, 240);
            height: 80vh;
        }
        
        #skills-icon {
            margin: 0% 40%;
            height: 80px;
        }
        
        .about-word {
            margin: 2% 10%;
        }
        
        .about .card-body {
            margin: 0px 40px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 70%;
            position: relative;
        }
        
        .about .card-body:hover {
            background-color: white;
            -webkit-transform: rotate(50deg);
            transform: rotate(5deg);
        }
        
        #card-title {
            margin: 0px 30px;
            font-size: 15px;
        }
        
        .about .card-text {
            font-size: 12px;
        }
        /* projects section */
        
        .projects .card {
            position: relative;
            opacity: 2;
        }
        
        .projects .card-body {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            color: goldenrod;
            /* display: none; */
            opacity: 0;
            padding-top: 10%;
        }
        
        .projects .card-text {
            padding-bottom: 10%;
        }
        
        .projects .card:hover .card-body {
            top: 0%;
            left: 0%;
            display: block;
            transition: all 0.5s ease-in-out;
            opacity: 3;
        }
        
        .container {
            margin-top: 3%;
        }
        
        .projects {
            background-color: rgba(248, 244, 244, 0.075);
            height: 120vh;
        }
        
        #view-project {
            padding-top: 10%;
            background-color: goldenrod;
            border: 1px solid white;
            color: black;
            text-decoration: none;
            padding: 4% 20%;
            margin: 50px;
            border-radius: 5%;
        }
        
        #header3 {
            color: goldenrod;
            margin: 0% 37%;
            padding-top: 2%;
        }
        
        #project-image {
            width: 348px;
            height: 260px;
        }
        /* contacts page */
        
        #header4 {
            color: goldenrod;
            margin: 0% 42%;
            padding-top: 2%;
        }
        
        .icons {
            display: flex;
            justify-content: center;
            margin-top: 0%;
        }
        
        #socialC {
            height: 70px;
            width: 70px;
            padding: 0% 30%;
        }
        
        #socialC:hover {
            color: white;
        }
        
        #contct-info {
            color: white;
            margin: 0% 35%;
            padding-top: 2%;
        }
        
        #footer {
            background-color: goldenrod;
            padding: 1% 45%;
            margin-top: 0%;
        }