    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
    * {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        /* background-color: aliceblue; */
    }
    
    body {
        font-family: 'EB Garamond', serif;
        background-image: url(/images/blackbg.jpg);
        height: 340vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home {
        background-image: url(/images/back3.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        left: 0;
        right: 0;
    }
    
    #header1 {
        margin-left: 45%;
        margin-bottom: 50px;
        color: rgba(13, 14, 13, 0.74);
    }
    
    nav {
        display: flex;
        width: 100%;
    }
    
    .skills {
        height: 40vh;
        margin-top: 4%;
    }
    
    .navbar {
        padding: 25px 0px;
        z-index: 9999;
        transition: all 0.3s ease;
    }
    
    .navbar.sticky {
        position: fixed;
        top: 0;
        background-color: black;
        color: goldenrod;
        left: 0;
    }
    
    .navbar p span.sticky {
        color: white;
    }
    
    nav ul {
        padding-left: 47%;
    }
    
    .navbar p {
        color: white;
        display: flex;
        margin-left: 30px;
        font-size: 25px;
    }
    
    .navbar p span {
        color: goldenrod;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        justify-content: space-between;
        padding: 16px 28px;
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
    }
    
    nav ul li a:hover {
        color: goldenrod;
        /* border-bottom: 1px solid #00e9a300;
        box-shadow: 5px 5px 10px rgba(0, 255, 128, 0.4); */
    }
    /* home section */
    
    .heading {
        display: flex;
        color: white;
    }
    
    .land-words {
        margin-top: 15%;
        margin-left: 10%;
    }
    
    #word1 {
        font-size: 18px;
    }
    
    #word2 {
        font-size: 70px;
    }
    
    #word3 {
        font-size: 50px;
    }
    
    .land-words #word3 span {
        color: goldenrod;
    }
    
    #land-vector {
        margin-top: 43%;
        margin-left: 50%;
    }
    
    #btn_touch {
        background-color: transparent;
        padding: 13px;
        box-shadow: 10px 5px 30px rgba(13, 14, 13, 0.938);
        border-radius: 5px;
        margin-left: 30px;
    }
    
    #btn_touch:hover {
        background-color: white;
        color: rgb(6, 95, 73);
        font-size: large;
    }
    
    #social {
        width: 35px;
        height: 35px;
        padding-top: 20px;
    }
    
    .social_icons {
        position: sticky;
        margin-left: 40%;
        writing-mode: vertical-rl;
        transform: rotate(360deg);
        margin-top: 20%;
    }
    /* #btn_touch:hover{

} */
    /* #FFB306 */
    /* about section */
    
    .my-about {
        background-color: rgb(199, 199, 211);
        height: 80vh;
    }
    
    #header2 {
        padding-top: 4%;
        margin: 4% 40%;
    }
    
    #skills-icon {
        margin: 0% 40%;
        height: 80px;
    }
    
    .about-word {
        margin: 2% 10%;
    }
    
    .my-about .card {
        width: 200px;
        height: 150px;
    }
    
    .card-deck {
        justify-content: space-around;
    }
    
    .about .card-body {
        margin: 0px 40px;
        background-color: #deca5b8f;
        /* border-bottom-right-radius: 15%;
        border-bottom-left-radius: 15%; */
        width: 300px;
        -webkit-transition: -webkit-transform 1s ease-in-out;
        transition: transform 2s ease-in-out;
        border-radius: 50%;
    }
    
    .about .card-body:hover {
        background-color: white;
        -webkit-transform: rotate(90deg);
        transform: rotate(10deg);
    }
    
    #card-title {
        margin: 0px 30px;
    }
    /* projects section */
    
    .projects .card-body {
        box-shadow: 10px 10px 10px 10px rgba(2, 2, 2, 0);
        width: 300px;
    }
    
    .container {
        margin-top: 3%;
    }
    
    .projects {
        background-color: rgba(248, 244, 244, 0.075);
        height: 120vh;
    }
    
    #header3 {
        color: goldenrod;
        margin: 0% 37%;
        padding-top: 2%;
    }
    
    #project-image {
        width: 300px;
        height: 240px;
    }
    /* contacts page */
    
    #header4 {
        color: goldenrod;
        margin: 0% 42%;
        padding-top: 2%;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        margin-top: 0%;
    }
    
    #socialC {
        height: 70px;
        width: 70px;
        padding: 0% 30%;
    }
    
    #contct-info {
        color: white;
        margin: 0% 35%;
        padding-top: 2%;
    }
    
    #footer {
        background-color: goldenrod;
        padding: 1% 45%;
        margin-top: 0%;
    }
    /*@media(max-width:1300px) {
        .about {
            width: 1000px;
        }
    }
    
    @media(max-width:1104px) {
        .about {
            width: 400px;
        }
    }
    
    @media(max-width: 991px) {
        .about {
            width: 400px;
        }
    }
    
    @media(max-width:947px) {
        .about {
            display: grid;
            width: 00px;
        }
    } */