@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body{
    font-family: 'EB Garamond', serif;    
    background-image: url(/images/Background.jpg);    
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#header1{
    margin-left: 45%;
    margin-bottom: 50px;
}

nav{
    margin-left: 35%;
    /* margin-top: 20px; */
}
.navbar{
    padding-top: 15px;
    position: sticky;
    z-index: 9999;
}
nav ul li {
    display: inline;

}
nav ul li a {
    justify-content: space-between;
    padding:10px 20px;
    text-decoration: none;
    padding-right: 10px;
    color: rgb(243, 247, 245);

}
nav ul li a:hover{
    border-bottom: 2px solid #00e9a300;
    box-shadow: 10px 5px 30px rgba(0,255,128,0.4);
}
.active{
    border-bottom: 2px solid transparent;
    box-shadow: 5px 10px 30px rgba(0,255,128,0.4);
}



/* home section */
.heading{
    display: flex;
    color: white;

}
.land-words{
    margin-top: 10%;
    margin-left: 10%;
}
#word1{
    font-size: 13px;
}
#word2{
    font-size: 40px;
}
#word3{
    font-size: 40px;
}
#land-vector{
    margin-top: 50px;
    margin-left: 50%;
}

#btn_touch{
    background-color: transparent;
    padding: 13px;
    box-shadow: 10px 5px 30px rgba(0,255,128,0.4);
    border-radius: 5px;
}
/* #btn_touch:hover{

} */
/* skills section */
.skills{
    height: 40vh;
    margin-top: 20%;
}
.icons{
    display: flex;
    justify-content: space-around;
}
.icon-img{
    width: 200px;
    height: 200px;
}
.icon-img3{
    width: 270px;
    height: 200px;
}

/* about section */
.about{
    height: 55vh;
}
#header2{
    margin-left: 45%;
    margin-top: 10%;
}
.my-about{
    display: flex;
    justify-content: space-around;
}
#me{
    width: 240px;
    height: 290px;
    border-radius: 300px;
    margin-left: 70%;
}
.about-word{
    margin-top: 6%;
    margin-right: 10%;
    margin-left: 15%;
}

/* projects section */
#header3{
    margin-left: 42%;
    margin-bottom: 50px;
}
.my-projects{
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.proje{
    display: flex;
    margin-top: 90px;
    /* justify-content: space-between; */
}
h5{
    font-size: 30px;
}
#project-img1{
    position: relative;
    width: 600px;
    height: 300px;
    border: 40px solid rgba(37, 65, 2, 0.877);
    border-radius: 15px;
    margin-left: 11%;
}
#project-img2{
    width: 700px;
    height: 380px;
    border-radius: 15px;
    margin-left: 7%;
}
#project-img3{
    width: 550px;
    height: 380px;
    margin-right: 50px;
    margin-left: 11%;

}
#project-img1:hover{
    opacity: rgba(0, 0, 0, 0.514);
}
#mboga{
    margin-left: 10%;
}
.description2{
    margin-left: 20%;
}
#notes{
    margin-right: 10px;
}
#more-description1{
    position: absolute;
    left: 50%;
    border: 1px solid rgb(175, 158, 158);
    width: 500px;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(236, 247, 248);
}
#more-description2{
    position: absolute;
    left: 20%;
    margin-top: 10px;
    border: 1px solid rgb(175, 158, 158);
    width: 500px;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(236, 247, 248);
}
#more-description3{
    position: absolute;
    left: 38%;
    margin-bottom: 50px;
    border: 1px solid rgb(175, 158, 158);
    width: 500px;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(236, 247, 248);
}

#language{
    margin-top: 46%;
    margin-left: 60%;
    font-size: 13px;
}
#language2{
    margin-top: 106%;
    margin-left: 60%;
    font-size: 13px;
}
/* contact section */
.contact{
    height: 100vh;
}
#header4{
    margin-left: 45%;
    margin-top: 5%;
}